<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload de Arquivo</title>
  </head>
  <body>
    <div class="container">
      <h1>Consulta de Processos</h1>
      <h2>Insira os números dos processos manualmente</h2>
      <form action="/processar" method="post">
        <div class="form-group">
          <label for="processos">Números dos Processos (separados por vírgula):</label>
          <input type="text" class="form-control" id="processos" name="processos">
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
      </form>
      <h1>Ou faça o upload de um arquivo com os números dos processos</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Escolha o arquivo:</label>
          <input type="file" class="form-control" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </body>
</html>
